{{> header}}
<section class="detailsOtherPet">
    <h3>{{pet.name}}</h3>
    <p>Pet counter: 7 <a href="#"><button class="button"><i class="fas fa-heart"></i>
                Pet</button></a>
    </p>
    <p class="img"><img src="{{pet.imageURL}}"></p>
    <p class="description">{{pet.description}}</p>
</section>
{{> footer}}